<div class="table-container">
    <!-- Botón para crear un coche -->
    <button appButton routerLink="/create">Crear coche</button>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <!-- Pillamos los datos de CarService -->
            <tr *ngFor="let c of cars">
                <td><a routerLink="['/details', c.id]">{{ c.id }}</a></td>
                <td>{{ c.brand }}</td>
                <td>{{ c.model }}</td>
                <td>{{ c.total }}</td>
                
                <td>
                    <div class="action-menu">
                        <button class="action-button">Acciones</button>
                        <div class="dropdown">
                            <button>Editar</button>
                            <button>Eliminar</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
